{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
- Home
{% endblock %}

{% block content %}
<section class="main-container z-depth-4">
    <div class="container hero-container valign-wrapper">
        <div class="center-align custom-card z-depth-4">
            Lorem ipsum dolor sit amet, consectetur adipiscingelit. Suspendisse
            finibus leo nibh, eget volutpat orci fringilla et. Mauris sit amet convallis velit. Sed dapibus
            venenatis arcu non facilisis. Nullam consectetur elementum elit, eget porttitor elit posuere vel. Duis
            eget tempor ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris tempus magna sit
            amet ligula accumsan, at dictum odio sagittis. Donec porta ullamcorper diam ac commodo. </div>
        <div class="center-align">
            <a href="#" class="button capitalise flow-text hoverable">Join Now!</a>
        </div>
    </div>
    <div class="chevron-container">
        <a href="#how-it-works"><i class="material-icons">expand_more</i></a>
    </div>
</section>
<section id="how-it-works" class="container-fluid row">
    <h4 class="capitalise center-align">How it works</h4>
    <div class="col m12 l4 center-align card how-it-works-card">
        <h5>Pick a Subscription</h5>
        <i class="large fa-solid fa-check"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus leo nibh, eget volutpat orci
            fringilla et. Mauris sit amet convallis velit. Sed dapibus venenatis arcu non facilisis. Nullam consectetur
            elementum elit, eget porttitor elit posuere vel. Duis eget tempor ante. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Mauris tempus magna sit amet ligula accumsan, at dictum odio sagittis. Donec porta
            ullamcorper diam ac commodo. Nulla facilisis eleifend dolor a hendrerit. Cras risus ipsum, faucibus et
            cursus a, efficitur eu leo. Nulla laoreet quam in velit hendrerit, commodo consectetur velit auctor.
            Suspendisse vel pellentesque lorem, vitae scelerisque nibh. Aliquam suscipit facilisis odio at eleifend. Nam
            aliquam fermentum tortor, et elementum orci facilisis non. In et ex id mi elementum aliquam. Ut suscipit
            faucibus bibendum.</p>
    </div>
    <div class="col m12 l4 center-align card how-it-works-card">
        <h5>Only the Best</h5>
        <i class="large fa-solid fa-trophy"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus leo nibh, eget volutpat orci
            fringilla et. Mauris sit amet convallis velit. Sed dapibus venenatis arcu non facilisis. Nullam consectetur
            elementum elit, eget porttitor elit posuere vel. Duis eget tempor ante. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Mauris tempus magna sit amet ligula accumsan, at dictum odio sagittis. Donec porta
            ullamcorper diam ac commodo. Nulla facilisis eleifend dolor a hendrerit. Cras risus ipsum, faucibus et
            cursus a, efficitur eu leo. Nulla laoreet quam in velit hendrerit, commodo consectetur velit auctor.
            Suspendisse vel pellentesque lorem, vitae scelerisque nibh. Aliquam suscipit facilisis odio at eleifend. Nam
            aliquam fermentum tortor, et elementum orci facilisis non. In et ex id mi elementum aliquam. Ut suscipit
            faucibus bibendum.</p>
    </div>
    <div class="col m12 l4 center-align card how-it-works-card">
        <h5>Enjoy!</h5>
        <i class="large fa-solid fa-mug-saucer"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus leo nibh, eget volutpat orci
            fringilla et. Mauris sit amet convallis velit. Sed dapibus venenatis arcu non facilisis. Nullam consectetur
            elementum elit, eget porttitor elit posuere vel. Duis eget tempor ante. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. Mauris tempus magna sit amet ligula accumsan, at dictum odio sagittis. Donec porta
            ullamcorper diam ac commodo. Nulla facilisis eleifend dolor a hendrerit. Cras risus ipsum, faucibus et
            cursus a, efficitur eu leo. Nulla laoreet quam in velit hendrerit, commodo consectetur velit auctor.
            Suspendisse vel pellentesque lorem, vitae scelerisque nibh. Aliquam suscipit facilisis odio at eleifend. Nam
            aliquam fermentum tortor, et elementum orci facilisis non. In et ex id mi elementum aliquam. Ut suscipit
            faucibus bibendum.</p>
    </div>
</section>
{% endblock %}