{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
- Home
{% endblock %}

{% block content %}
<section class="main-container z-depth-4">
    <div class="container hero-container valign-wrapper hero-content">
        <div class="center-align custom-card z-depth-4">
            Lorem ipsum dolor sit amet, consectetur adipiscingelit. Suspendisse
            finibus leo nibh, eget volutpat orci fringilla et. Mauris sit amet convallis velit. Sed dapibus
            venenatis arcu non facilisis. Nullam consectetur elementum elit, eget porttitor elit posuere vel. Duis
            eget tempor ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris tempus magna sit
            amet ligula accumsan, at dictum odio sagittis. Donec porta ullamcorper diam ac commodo. </div>
        <div class="center-align">
            <a href="#" class="button capitalise flow-text hoverable">Join Now!</a>
        </div>
    </div>
    <div class="chevron-container">
        <a href="#how-it-works"><i class="material-icons">expand_more</i></a>
    </div>
</section>
</section>
{% endblock %}