[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "==3.8"
django-allauth = "==64.1.0"
coverage = "==7.6.1"
django-countries = "==7.6.1"
django-crispy-forms = "==2.3"
dj-database-url = "==2.2.0"
psycopg2-binary = "==2.9.9"
gunicorn = "==23.0.0"
stripe = ">=2.48.0,<5.0.0"
dj-stripe = "==2.8.4"
boto3 = "==1.35.0"
django-storages = "==1.14.4"
asgiref = "==3.8.1"
botocore = "==1.35.0"
certifi = "==2024.7.4"
cffi = "==1.17.0"
charset-normalizer = "==3.3.2"
cryptography = "==43.0.0"
defusedxml = "==0.7.1"
django = "==5.1"
idna = "==3.7"
jmespath = "==1.0.1"
jsonfield = "==3.1.0"
oauthlib = "==3.2.2"
pycparser = "==2.22"
pyjwt = "==2.9.0"
python-dateutil = "==2.9.0"
python3-openid = "==3.2.0"
requests = "==2.32.3"
requests-oauthlib = "==2.0.0"
s3transfer = "==0.10.2"
six = "==1.16.0"
sqlparse = "==0.5.1"
tornado = "==6.4.1"
typing-extensions = "==4.12.2"
tzdata = "==2024.1"
urllib3 = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.11.0"
