[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django-allauth = "*"
coverage = "*"
livereload = "*"
django-countries = "*"
django-crispy-forms = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
stripe = "*"
dj-stripe = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
