{% extends 'base.html' %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block extra_title %}
- Sign up for newsletter
{% endblock %}

{% block content %}
<main class="main-container newsletter">
    <div class="container hero-container valign-wrapper">
        <div class="custom-card">
            <h3 class="capitalise">Unsubscribe from our newsletter</h3>
            <p class="flow-text">Submitting your email bellow will remove it from our mailing list. </p>
            <form class="flow-text" method="POST" action="{% url 'newsletter_unsubscribe' %}">
                {% csrf_token %}
                {{ form.email }}
                <div class="auth-button-container">
                    <button class="hoverable button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}