.blog img {
	width: 90% !important;
	margin: auto;
}

.add-blog-container {
	margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
	.custom-card {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.blog-button-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
