/*This code is heavily adapted from the stripe billing quickstart code found here
(https://stripe.com/docs/billing/quickstart) */

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
- Checkout
{% endblock %}

{% block content %}

<main class="main-container">
    <div class="container hero-container valign-wrapper">
        <div class="custom-card col s12">
            <h2 class="capitalise">Delivery information</h2>
            <form action="{% url 'create-checkout-session' %}" method="POST" id="profile-update">
                {% csrf_token %}
                {{ form.full_name }}
                {{ form.email }}
                {{ form.phone_number }}
                {{ form.street_address1 }}
                {{ form.street_address2 }}
                {{ form.town_or_city }}
                {{ form.county }}
                {{ form.postcode }}
                {{ form.country }}
                <p>
                    <label for="id_mailing">
                        {{form.mailing}}
                        <span>Registered for Mailing list</span>
                    </label>
                </p>
                <div class="product">
                    <div class="description">
                        <h3>{{plan.product.name}}</h3>
                        <h5>£{{plan.amount}} / month</h5>
                    </div>
                </div>
                <input type="hidden" name="lookup_key" value="{{PRICE_LOOKUP_KEY}}" />
                <button class="button" id="checkout-and-portal-button" type="submit">Checkout</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'checkout/js/checkout.js' %}">
</script>
{% endblock %}