/* global styling */

:root {
	--g1: #52734d;
	--g2: #668761;
	--g3: #91c788;
	--g4: #ddffbc;
	--g5: #feffde;
	--p1: #912e53;
	--p2: #d47799;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--g2);
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	color: var(--g5) !important;
}

input {
	color: var(--g5);
}

.row {
	margin-top: 0;
	margin-bottom: 0;
}

a,
i,
.button,
.button-secondary {
	transition: 0.2s;
	color: var(--g5) !important;
}

.capitalise {
	text-transform: uppercase !important;
}

.divider {
	width: 100%;
	margin: 1rem 0;
}

a:hover,
i:hover,
button:hover {
	color: #fff !important;
	text-shadow: 0 0 3px #fff !important;
	cursor: pointer !important;
}

.background-g1 {
	background-color: var(--g5) !important;
}

.background-g2 {
	background-color: var(--g1) !important;
}

.button {
	padding: 0.5rem;
	margin: 0.5rem 0;
	border: var(--g5) 3px solid;
	color: var(--g5) !important;
	background-color: var(--p1);
	min-width: fit-content !important;
	white-space: nowrap;
	width: fit-content;
}

.button-secondary {
	padding: 0.3rem;
	margin: 0.5rem 0;
	border: var(--g1) 3px solid;
	color: var(--g1) !important;
	background-color: var(--g5);
	min-width: fit-content !important;
	white-space: nowrap;
	width: fit-content;
}

.button-secondary:hover {
	color: var(--g1) !important;
	text-shadow: 0 0 3px var(--g1) !important;
}

/* nav */
nav a {
	text-transform: uppercase !important;
	letter-spacing: 2px;
}

.sidenav {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.brand-logo {
	width: 4rem;
	color: var(--g5) !important;
}

.brand-logo-icon {
	margin-left: 2rem;
}

.sidenav a {
	color: #fff !important;
}

/* footer */

.social-icons {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}

.social-icons a {
	font-size: 2rem;
}

footer p {
	margin-top: 0;
}

footer .row {
	margin: 0 !important;
}

/* home */

body {
	margin: 0;
	padding: 0;
}

.main-container {
	position: relative;
	min-height: calc(100vh - 64px);
	display: flex;
	align-items: center;
}

.main-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://res.cloudinary.com/chronologic12/image/upload/v1655455642/tippy/images/pexels-min-an-911804_xxckdo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(80%);
}

.hero-container {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100% !important;
}

.custom-card {
	padding: 1rem !important;
	margin: 2rem;
	border: var(--g5) 3px solid;
	background-color: rgba(26, 49, 30, 0.7);
}

.chevron-container {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	font-size: 2rem !important;
}

.chevron-container i {
	font-size: 4rem;
}

.how-it-works-card {
	margin: 0;
	padding: 2% !important;
}

.how-it-works-card i {
	color: var(--p2) !important;
	text-shadow: 0 0 3px var(--p1);
}

.how-it-works-card:nth-child(odd) {
	background-color: var(--g2) !important;
}

.how-it-works-card:nth-child(even) {
	background-color: var(--g4) !important;
	color: var(--g1) !important;
}

/* auth */

.auth label {
	visibility: hidden;
}

.auth p:not(:first-child) {
	margin: 0;
}

.auth-button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.auth h2 {
	margin: 0.5rem;
}

/* media queries */

@media only screen and (max-width: 600px) {
	.auth .custom-card {
		width: 100%;
	}
}

@media only screen and (min-width: 600px) {
	.social-icons {
		flex-direction: row;
	}
	.social-icons a {
		margin: auto 1.5rem;
	}
}

@media only screen and (min-width: 992px) {
	.hero-container {
		flex-direction: row !important;
	}
	:is(.auth, .blog) .custom-card {
		padding: 2rem !important;
	}
	:is(.auth, .blog) :is(.button, .button-secondary) {
		padding: 1rem;
	}
}
