{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'subscriptions/css/subscriptions.css' %}">
{% endblock %}

{% block extra_title %}
- Home
{% endblock %}

{% block content %}
<section class="main-container z-depth-4">
    <div class="container-fluid hero-container valign-wrapper subscriptions">
        {% for plan in plans %}
        <div class="col m12 l4 center-align custom-card">
            <h5 class="capitalise">{{ plan.product.name }}</h5>
            <div class="card-image">
                {% if plan.product.image_url %}
                <img class="responsive-img" src="{{ plan.image_url }}">
                {% else %}
                <img class="responsive-img"
                    src="https://res.cloudinary.com/chronologic12/image/upload/v1655374805/tippy/Tippy_xduny8.svg">
                {% endif %}
            </div>
            <p>{{ plan.product.description }}</p>
            <div class="price">
                <div>£{{plan.amount}}/mo</div>
            </div>
            <div class="select-container">
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="plan_id" id="plan_id" value="{{plan.id}}">
                    <button class="button">Select</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}