{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="main-container auth">
  <div class="container hero-container valign-wrapper hero-content">
    <div class="custom-card">
      <h2 class="capitalise">{% trans "Sign Up" %}</h2>

      <p class="flow-text">{% blocktrans %}Already have an account? Then please <a class="blue-text"
          href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}
      </p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="hoverable button">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}