{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_title %}
- About
{% endblock %}

{% block content %}
<section class="about z-depth-4">
    <div class="container about-container valign-wrapper">
        <h2 class="capitalise">About us</h2>
        <div class="row about-row valign-wrapper">
            <div class="col s12 m8 center-align custom-card z-depth-4">
                Established in 2018, here at Tippy we have always held quality, diversity and fairness at our core. We
                We know that tea is an important part of many people's daily routines. For many of us it helps us relax,
                focus, and center yourself so we can get to all of the other important things. But finding great
                tasting, reliable, ethically and ecologically sourced tea isn't always easy. But it should be. Thats
                where we decided to step. It's out goal to take all the hassle out of the equation for you allowing you
                to get back to what's really important; Loving life, and great tea!
            </div>
            <div class="col s12 m4 center-align">
                <img class="responsive-img z-depth-5"
                    src="https://res.cloudinary.com/chronologic12/image/upload/c_scale,q_52,w_1195/v1657967625/tippy/images/pexels-christina-morillo-1181438_g4osso.jpg"
                    alt="Team of people standing together near a desk">
            </div>
        </div>
        <div class="divider"></div>
        <div class="row about-row valign-wrapper">
            <div class="col s12 m4 center-align">
                <img class="responsive-img z-depth-5"
                    src="https://res.cloudinary.com/chronologic12/image/upload/c_scale,q_49,w_1188/v1656321094/tippy/images/pexels-pixabay-39347_cgz72p.jpg"
                    alt="Person holdign and checking tea leaves on a besket">
            </div>
            <div class="col s12 m8 center-align custom-card z-depth-4">
                Here at Tippy we rely on our amazing team of tea experts to gather the best from all around the world to
                bring to you. From China and India to Kenya and South America, we test hundreds of teas from fair trade
                sources every month to make sure you only get the premium product. With each tea you receive you will
                also get a leaflet letting you know about this months teas and a brewing guide created by our experts so
                you know you're getting the most out of every leaf.
            </div>
        </div>
</section>
{% endblock %}